global
	log 127.0.0.1	local0
	log 127.0.0.1	local1 notice
	#log loghost	local0 info
	maxconn 4096
	#chroot /usr/share/haproxy
	user haproxy
	group haproxy
	daemon
	#debug
	#quiet

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	retries	3
	option redispatch
	maxconn	2000
	contimeout	5000
	clitimeout	50000
	srvtimeout	50000

listen stats :9090
        balance
        mode http
        stats enable
        stats auth admin:admin

listen http :8081
        mode tcp
        option tcplog
        balance roundrobin

        server backend1 10.129.220.106:8080 check
        server backend2 10.129.220.109:8080 check